body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url('./images/background.jpg');  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}

.Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-title {
  letter-spacing: 1rem;
  font-size: 4.5rem;
  text-align: center;
  font-weight: bold;
}

.home-sub-title {
  font-size: 1.8rem;
  text-align: center;
  text-transform: sentence;
  letter-spacing: 0.3rem;
}

.course-code {
  color: #ddd;
  font-size: 1.6rem;
}

@media screen and (max-width: 700px) {
  .home-title {
    font-size: 3rem;
  }
  .home-sub-title {
    font-size: 1.0rem;
  }
  .course-code {
    font-size: 0.8rem;
  }
}